main #informacoes{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
main #setaEsquerda{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
main #informacoesForms{
    display: flex;
    flex-direction: column;
    gap: 8px;
}